.about {
  background: url("../img/pattern1.jpg") center no-repeat;
  background-size: cover; }

.about-flex {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: auto;
  justify-content: space-around; }

.about-content {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
  margin: auto;
  flex-basis: 34%;
  margin-top: 100px;
  margin-bottom: 100px; }
  .about-content h3 {
    margin: 0;
    font-family: "Yeseva One", cursive;
    font-size: 36px;
    line-height: 24px;
    color: #cc9900; }
  .about-content .divider {
    margin-top: 15px;
    margin-bottom: 30px; }
  .about-content p {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 24px; }

.dish {
  margin-top: 50px; }
  @media (max-width: 940px) {
    .dish {
      display: none; } }

.dish img {
  width: 100%;
  height: auto; }
